.home{
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right,#f8f5ef,#ffffff);
}

.home-content{
    max-width: 550px;
}

.home-content h1{
    font-size: 60px;
    color: #1f3b2d;
    margin-bottom: 20px;
}

.home-content p{
    font-size: 20px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 30px;
}

.btn{
    text-decoration: none;
    background: #c89b3c;
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover{
    background:#a67c2e;
}

.home-image img{
    width:350px;
    border-radius:50%;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}